.fundo {
    background-color: rgb(217, 217, 217);
    color: black;
    border-radius: 10px;
    height: 60px;
    position: absolute;
            width: 200.6px;
            left: 850px;
            top: 620.32px;
            
            font-family: 'Kavoon';
            font-style: normal;
            font-weight: 420;
            font-size: 14.5709px;
            line-height: 16px;
            
            
            color: #000000;"

}
.perfil {
     position: absolute;
    color: white;"
    width: 200.6px;
    left: 780px;
    top: 660.32px;
    font-family: 'Kavoon';
    font-style: normal;
    font-weight: 420;
    font-size: 14.5709px;
    line-height: 16px;
    

}